# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/
*.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore data files (adjust this if necessary)
data/
*.csv
*.tsv
*.xlsx

# Ignore the model checkpoints
*.h5
*.pkl

# Ignore output or result files
*.out
*.json
*.xml

# Ignore system files for Mac, Windows, and Linux
.DS_Store
Thumbs.db
